#include <windows.h>

// App icon (place icon.ico in resources/ folder)
1 ICON "icon.ico"

// Version info
VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileDescription",  "Clipboard History Manager"
      VALUE "FileVersion",      "1.0.0"
      VALUE "ProductName",      "ClipManager"
      VALUE "LegalCopyright",   "2024"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END